#menu {
  height: 100vh;
  align-items: center;
}

a {
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.vertical-menu li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #9013fe;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.vertical-menu li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#social i:hover {
  color: #9013fe;
  transition: all 0.3s ease-in-out 0s;
}
