<div class="d-flex" id="menu">
  <!-- Sidebar -->
  <div class="bg-white p-4">
    <div class="d-flex justify-content-center">
      <img
        src="https://github.com/daviramosuc.png"
        class="img-fluid rounded-circle"
        alt="Imagem do perfil do GitHub"
        width="120"
      />
    </div>
    <a [routerLink]="['']" class="text-decoration-none text-dark">
      <h3 class="sidebar-heading text-center mt-3 mb-4 text-uppercase fw-bolder">
        Davi Lima
      </h3>
    </a>
    <ul class="list-unstyled vertical-menu">
      <li class="mb-3">
        <a
          href=""
          class="text-decoration-none text-uppercase fw-bold text-dark active"
          >Sobre mim</a
        >
      </li>
      <li class="mb-3">
        <a href="" class="text-decoration-none text-uppercase fw-bold text-dark"
          >Formação</a
        >
      </li>
      <li class="mb-3">
        <a href="" class="text-decoration-none text-uppercase fw-bold text-dark"
          >Tecnologias</a
        >
      </li>
      <li class="mb-3">
        <a href="" class="text-decoration-none text-uppercase fw-bold text-dark"
          >Blog</a
        >
      </li>
      <li class="mb-3">
        <a href="" class="text-decoration-none text-uppercase fw-bold text-dark"
          >Contato</a
        >
      </li>
    </ul>
    <button class="btn p-0 text-secondary mt-3 mb-5">
      <i class="fa fa-search me-2"></i>
      Search...
    </button>
    <div class="d-flex justify-content-between mb-4" id="social">
      <a href="" class="text-dark"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="" class="text-dark"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="" class="text-dark"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="" class="text-dark"><i class="fa fa-linkedin fa-lg"></i></a>
    </div>
    <small class="text-secondary">Todos os direitos reservados</small>
    <div class="text-secondary">© 2021 Davi Ramos</div>
  </div>
  <!-- Page content wrapper -->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
