/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: -15rem;
}